api/n8n_workflow.json
{
  "name": "Bee Monitor — Weekly Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "node_trigger",
      "name": "Every Monday at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/weekly-run?days=60",
        "options": {
          "timeout": 300000,
          "response": { "response": { "neverError": false } }
        }
      },
      "id": "node_swarm_run",
      "name": "Swarm — weekly prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200],
      "notes": "Calls POST /weekly-run: downloads 60d xlsx for 8 swarm hives, runs LSTM, returns JSON. Timeout 5 min."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/weekly-alza-update?days=30",
        "options": {
          "timeout": 720000,
          "response": { "response": { "neverError": false } }
        }
      },
      "id": "node_alza_run",
      "name": "Alzas — update feature CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 420],
      "notes": "Calls POST /weekly-alza-update: downloads 30d xlsx for all 17 hives, rebuilds daily_features_final.csv. Takes ~7-10 min. Timeout 12 min."
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst rows = (d.predictions || []).map(p => {\n  const pct = p.swarm_risk_probability != null ? (p.swarm_risk_probability * 100).toFixed(1) + '%' : (p.error || '?');\n  return `  Hive ${String(p.box_id).padStart(2)}: ${(p.risk_level || 'UNKNOWN').padEnd(10)} ${pct}`;\n}).join('\\n');\nconsole.log(`[SwarmRisk ${d.run_date}] ${d.alert_count} alertas\\n${rows}`);\nreturn $input.all();\n"
      },
      "id": "node_swarm_log",
      "name": "Log swarm results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 120]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst dates = d.last_date_per_hive || {};\nconst lines = Object.entries(dates).map(([h,dt]) => `  Hive ${h}: ${dt}`).join('\\n');\nconsole.log(`[AlzaUpdate ${d.run_date}] status=${d.status} | rows=${d.total_feat_rows} | elapsed=${d.elapsed_s}s\\nLatest dates per hive:\\n${lines}`);\nreturn $input.all();\n"
      },
      "id": "node_alza_log",
      "name": "Log alza update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond_alerts",
              "leftValue": "={{ $json.alert_count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_filter",
      "name": "Any HIGH swarm alerts?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 260]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst lines = (d.alerts || []).map(a => {\n  const pct = a.swarm_risk_probability != null ? (a.swarm_risk_probability * 100).toFixed(1) + '%' : '';\n  return `<li><strong>Colmena ${a.box_id}:</strong> ${pct} de riesgo en los próximos 3 días</li>`;\n});\nconst htmlMessage = `\n<h2 style='color:#c0392b'>⚠️ Alerta de enjambrazón — ${d.run_date}</h2>\n<p>${d.alert_count} colmena(s) en <strong>riesgo ALTO</strong>:</p>\n<ul>${lines.join('')}</ul>\n<p>Total colmenas analizadas: ${(d.hives || []).length}</p>\n<hr/>\n<p style='color:#888;font-size:12px'>Bee Monitor · UAB Apiary · TFG Miguel Arpa</p>\n`;\nconst textMessage = [\n  `[${d.run_date}] ALERTA ENJAMBRAZON — ${d.alert_count} colmena(s) en riesgo ALTO:`,\n  ...(d.alerts || []).map(a => `  Colmena ${a.box_id}: ${a.swarm_risk_probability != null ? (a.swarm_risk_probability*100).toFixed(1)+'%' : '?'}`),\n  `Total colmenas: ${(d.hives||[]).length}`\n].join('\\n');\nconsole.log(textMessage);\nreturn [{ json: { htmlMessage, textMessage, alert_count: d.alert_count, run_date: d.run_date, alerts: d.alerts } }];\n"
      },
      "id": "node_alert",
      "name": "Build alert message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 260]
    },
    {
      "parameters": {
        "fromEmail": "miguelpitufet@gmail.com",
        "toEmail": "miguelpitufet@gmail.com",
        "subject": "=⚠️ [Bee Monitor] ALERTA ENJAMBRAZON — {{ $json.alert_count }} colmena(s) en riesgo ALTO",
        "emailType": "html",
        "message": "={{ $json.htmlMessage }}",
        "options": {}
      },
      "id": "node_email_swarm",
      "name": "Send swarm alert email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 260],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst dates = d.last_date_per_hive || {};\nconst dateRows = Object.entries(dates).map(([h,dt]) => `<tr><td style='padding:4px 12px'>Colmena ${h}</td><td style='padding:4px 12px'>${dt}</td></tr>`).join('');\nconst htmlMessage = `\n<h2 style='color:#27ae60'>✅ CSV de alzas actualizado</h2>\n<table border='1' cellpadding='0' cellspacing='0' style='border-collapse:collapse'>\n  <tr><td style='padding:6px 12px'><strong>Fecha</strong></td><td style='padding:6px 12px'>${d.run_date || 'N/A'}</td></tr>\n  <tr><td style='padding:6px 12px'><strong>Estado</strong></td><td style='padding:6px 12px'>${d.status || 'ok'}</td></tr>\n  <tr><td style='padding:6px 12px'><strong>Filas totales</strong></td><td style='padding:6px 12px'>${d.total_feat_rows || 'N/A'}</td></tr>\n  <tr><td style='padding:6px 12px'><strong>Tiempo</strong></td><td style='padding:6px 12px'>${d.elapsed_s ? d.elapsed_s + 's' : 'N/A'}</td></tr>\n</table>\n${dateRows ? `<h3>Última fecha por colmena:</h3><table border='1' cellpadding='0' cellspacing='0' style='border-collapse:collapse'>${dateRows}</table>` : ''}\n<hr/>\n<p style='color:#888;font-size:12px'>Bee Monitor · UAB Apiary · TFG Miguel Arpa</p>\n`;\nreturn [{ json: { htmlMessage, run_date: d.run_date, status: d.status, total_feat_rows: d.total_feat_rows } }];\n"
      },
      "id": "node_alza_email_builder",
      "name": "Build alza email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 420]
    },
    {
      "parameters": {
        "fromEmail": "miguelpitufet@gmail.com",
        "toEmail": "miguelpitufet@gmail.com",
        "subject": "=✅ [Bee Monitor] CSV de alzas actualizado — {{ $json.run_date }}",
        "emailType": "html",
        "message": "={{ $json.htmlMessage }}",
        "options": {}
      },
      "id": "node_email_alza",
      "name": "Send alza update email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 420],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Every Monday at 9am": {
      "main": [
        [
          {"node": "Swarm — weekly prediction",  "type": "main", "index": 0},
          {"node": "Alzas — update feature CSV", "type": "main", "index": 0}
        ]
      ]
    },
    "Swarm — weekly prediction": {
      "main": [
        [
          {"node": "Any HIGH swarm alerts?", "type": "main", "index": 0},
          {"node": "Log swarm results",      "type": "main", "index": 0}
        ]
      ]
    },
    "Alzas — update feature CSV": {
      "main": [[{"node": "Log alza update", "type": "main", "index": 0}]]
    },
    "Any HIGH swarm alerts?": {
      "main": [[{"node": "Build alert message", "type": "main", "index": 0}]]
    },
    "Build alert message": {
      "main": [[{"node": "Send swarm alert email", "type": "main", "index": 0}]]
    },
    "Log alza update": {
      "main": [[{"node": "Build alza email", "type": "main", "index": 0}]]
    },
    "Build alza email": {
      "main": [[{"node": "Send alza update email", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["beehive", "swarm", "alzas", "prediction", "TFG"],
  "_meta": {
    "instanceId": "local",
    "note": "Requires: uvicorn on :8000, playwright installed with chromium. Start API: cd api && uvicorn main:app --port 8000. Start n8n: $env:N8N_USER_FOLDER=\"$env:TEMP\\n8n_data\" && n8n start. Gmail credential: Settings > Credentials > Add > SMTP, host=smtp.gmail.com, port=465, user=miguelpitufet@gmail.com, pass=<app-password>."
  }
}
